:root {
  font-size: 16px;
  line-height: 1.5;
  background-color: #eee;
  scroll-padding-top: 15svh;

  --background-color: #eee;
  --text-color: #000;

  @media (prefers-color-scheme: dark) {
    --background-color: #333;
    --text-color: #fff;
  }
}



@media (prefers-color-scheme: dark) {
  :root {
    filter: invert(1) hue-rotate(180deg) brightness(1.1);
    background-color: #ddd;
    text-shadow: 0 0 0 1px;
  }

  img,
  iframe {
    filter: invert(1) hue-rotate(180deg);
  }
}

@media screen and (max-width: 600px) {
  body {
    padding-top: 5svh;
  }
}



nav {
  display: block;

  &>ul {
    display: flex;
    max-width: max-content;
    margin: 1rem auto;
    flex-wrap: wrap;



    &>li {
      display: inline-block;
      padding: 0 1rem;
    }
  }
}




button,
select,
input[type=radio],
input[type=checkbox],
input[type=file],
label:has(>input) {
  cursor: pointer;

  &:active {
    box-shadow: 0 0 4px 0;
  }

  &[readonly],
  &:disabled {
    cursor: not-allowed;
  }
}

input[type=checkbox] {
  width: 1rem;
  height: 1rem;
  vertical-align: middle;
  margin: 0;
  margin-bottom: .1rem;
}

input[autocomplete="tel-country-code"] {
  width: 5ch;
}

input:user-invalid,
select:user-invalid,
textarea:user-invalid {
  outline: 1px solid red;
}

button {
  padding: .7em 1em;
}

img[src] {
  width: 100%;
  height: auto;
}



dialog#_dialog-alert {
  background-color: var(--background-color);
  color: var(--text-color);
  border: 1px solid var(--text-color);
  box-shadow: 0 0 8px 0px;
  transition: 25ms ease-in;
  font-size: 1rem;
  min-width: 25vw;

  /* prevent clicking the actual dialog element */
  /* for manually reimplementing light dismiss on clicking dialog element */
  padding: 0;

  &>* {
  /* dont use margin; prevent clicking the actual dialog element */
    margin: 0; 
    padding: 1rem;
  }


  @starting-style {
    scale: 2;
    font-size: 4rem;
    opacity: .25;
  }

  &::backdrop {
    /* background-image: linear-gradient(45deg,
        magenta,
        rebeccapurple,
        dodgerblue,
        green); */
    background-color: #000;
    opacity: .25;
    width: 100vw;
    height: 100vh;
  }

  #_dialog-alert__message-body {
    padding: 0.5rem;
    justify-items: center;
    text-align: center;
  }

  #_dialog-alert__control {
    display: flex;
    justify-content: right;
  }


  button {
    padding: .25rem .75rem;
  }
}