:root {
  font-size: 16px;
  line-height: 1.5;
  background-color: #eee;
  scroll-padding-top: 15svh;
}

@media (prefers-color-scheme: dark) {
  :root {
    filter: invert(1) hue-rotate(180deg) brightness(1.1);
    background-color: #ddd;
    text-shadow: 0 0 0 1px;
  }

  img,
  iframe {
    filter: invert(1) hue-rotate(180deg);
  }
}



nav {
  display: block;

  &>ul {
    display: flex;
    width: max-content;
    margin: 1rem auto;

    &>li {
      display: inline-block;
      padding: 0 1rem;
    }
  }
}


button,
select,
input[type=radio],
input[type=checkbox],
input[type=file],
label:has(>input) {
  cursor: pointer;

  &:active {
    box-shadow: 0 0 4px 0;
  }

  &[readonly],
  &:disabled {
    cursor: not-allowed;
  }
}

input[type=checkbox] {
  width: 1rem;
  height: 1rem;
  vertical-align: middle;
  margin: 0;
  margin-bottom: .1rem;
}

input[autocomplete="tel-country-code"] {
  width: 5ch;
}

input:user-invalid,
select:user-invalid,
textarea:user-invalid {
  outline: 1px solid red;
}

button {
  padding: .7em 1em;
}

img[src] {
  width: 100%;
  height: auto;
}